name: Generate GitHub Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["main", "master"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: writelip_j5e3l5gkqBiPcWIfxOxA
    steps:
      - name: Generate Main Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Hazem-74
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Africa/Cairo

          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: lines, bytes-size

          plugin_achievements: yes
          plugin_achievements_threshold: C
          plugin_achievements_display: compact

          plugin_stars: yes
          plugin_stars_limit: 3

          plugin_streak: yes
          plugin_streak_days: 30

      - name: Generate Chess Metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics-chess.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: Hazem-74
          template: classic
          base: ""
          config_timezone: Africa/Cairo
          plugin_chess: yes
          plugin_chess_platform: lichess.org
          plugin_chess_user: Hazem74
          plugin_chess_show_opponents: yes
          plugin_chess_recent_games: 5
